---
import About from "../components/About.astro";
import Contacto from "../components/Contacto.astro";
import Home from "../components/Home.astro";
import Portafolio from "../components/Portafolio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio">
	<main>
		<Home />
		<About />
		<Portafolio />
		<Contacto/>
	</main>
</Layout>
<style>
	main {
		display: inline;
		justify-content: center;
	}
</style>
