---
import About from "../components/About.astro";
import Contacto from "../components/Contacto.astro";
import Home from "../components/Home.astro";
import Portafolio from "../components/Portafolio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio">
	<main>
		<div class="main">
			<Home />
			<About />
			<Portafolio />
			<Contacto />
		</div>
	</main>
	<style>
		.main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 50px;
			margin-right: 50px;
		}
	</style>
</Layout>
