.btn-active {
    display: flex;

    justify-content: center;

    flex-direction: column;
    width: 35px;
    height: 48px;
    border: 0;
    background-color: transparent;
    gap: .65rem;
    cursor: pointer;

}



.btn-active div {
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.btn-active div:first-child {
    transform: rotate(45deg);
}

.btn-active div:nth-child(2) {
    opacity: 0;
}

.btn-active div:last-child {
    transform: rotate(-45deg);
}

.btn-inactive {
    display: none;
}


@media only screen and (min-width: 700px) {
    .btn-active {
        display: none;
    }
}


@media only screen and (max-width: 700px) {
    .btn-inactive {
        display: flex;

        justify-content: center;

        flex-direction: column;
        width: 35px;
        height: 48px;
        border: 0;
        background-color: transparent;
        gap: 0.65rem;
        cursor: pointer;
    }

    .btn-inactive div {
        background-color: white;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }



}