<header>
    <nav class="nav">
        <div><h1>PORTAFOLIO</h1></div>
        <div class="nav-container">
            <a class="nav-container-element" href="#home"><h3>Inicio</h3></a>
            <a class="nav-container-element" href="#about"><h3>About</h3></a>
            <a class="nav-container-element" href="#contact"
                ><h3>Contacto</h3></a
            >
            <a class="nav-container-element" href="#portfolio"
                ><h3>Portafolio</h3></a
            >
        </div>
    </nav>
</header>

<style>
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .nav-container {
        display: flex;
    }
    .nav-container-element {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        color: white;
    }
    .nav-container-element:hover {
        color: rgb(122, 122, 223);
    }
</style>
