

<div class="main-navbar-movil">
    <div class="main-navbar-lateral">
        <a class="nav-container-element" href="#home">
            <h3>Inicio</h3>
        </a>
        <a class="nav-container-element" href="#about">
            <h3>About</h3>
        </a>
        <a class="nav-container-element" href="#contact">
            <h3>Contacto</h3>
        </a>
        <a class="nav-container-element" href="#portfolio">
            <h3>Portafolio</h3>
        </a>
    </div>
    
</div>
